section{
	padding-left:150px;
	padding-right: 150px;
}
footer {
	margin-top: 425px;
	background-color: #E8A87C;
}
table{
	background-color: #C38D9E;
}
th{
	font-style: bold;
	font-size: 20px;
}
p{
	text-align: center;	
}
